<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
      <add
 		    name = "ChapooDatabse"
 		    connectionString ="
 			    Data Source=den1.mssql8.gear.host;
 			    Initial Catalog=dbchapoo12;
 			    User=dbchapoo12;
 			    Password=Sg0cu-7?wshb
  		    "
 		  />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>